<div class="header">
  <header>
    <h1>Cadastro de Clientes:</h1>
    </header>
</div>

<form>
 <mat-card class="card">
  <div class="corpoform">
<a>Dados pessoais </a>
<div class="dados">
  <div class="nome">
  <mat-form-field appearance="fill">
    <mat-label>Nome completo</mat-label>
    <input matInput>
  </mat-form-field>
  </div>
  <div class="cpf">
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="sexo">
    <mat-form-field appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select>
        <mat-option value="one">masculino</mat-option>
        <mat-option value="two">feminino</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="data">
    <mat-form-field appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint class="mesdia">Mês/Dia/Ano Ex.: 07/26/1995</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="pcd">
    <section class="example-section">
      <mat-checkbox class="checkpcd" color="primary"><b> Cliente PCD </b></mat-checkbox>
    </section>
  </div>
</div>

<a>Contato </a>
<div class="contato">
  <div class="email">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
    </mat-form-field>
  </div>
  <div class="telefone">
  <mat-form-field class="example-full-width">
    <mat-label>Telefone</mat-label>
    <span matPrefix>+55 &nbsp;</span>
    <input type="tel" matInput placeholder="38-99168-2950">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
</div>
</div>

<a>Endereço </a>
<div class="endereço">
  <div class="rua">
  <mat-form-field class="example-full-width">
    <mat-label>Nome da Rua</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
  <div class="numero">
  <td><mat-form-field class="numerofield">
    <mat-label>Nº</mat-label>
    <input matInput #postalCode maxlength="5" placeholder="Ex. 551" value="">
  </mat-form-field></td>
</div>
</div>

  </div>
  <div class="enviarform">
    <button type="button" mat-stroked-button color="primary" class="cadastrar"> Cadastrar
    </button>
  </div>
</mat-card>
</form>

<div class="tabela">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- coluna de posiçao -->
      <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef> Nº. </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.posicao}} </td>
      </ng-container>

        <!-- coluna de nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
      </ng-container>

          <!-- coluna de cpf -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.cpf}} </td>
      </ng-container>

         <!-- coluna de nascimento -->
      <ng-container matColumnDef="nascimento">
        <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nascimento}} </td>
      </ng-container>

          <!-- coluna de sexo -->
      <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.sexo}} </td>
      </ng-container>

         <!-- coluna de pcd -->
      <ng-container matColumnDef="pcd">
        <th mat-header-cell *matHeaderCellDef> PCD </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.pcd}} </td>
      </ng-container>

         <!-- coluna de endereço -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.endereco}} </td>
      </ng-container>

          <!-- coluna de telefone -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.telefone}} </td>
      </ng-container>

         <!-- coluna de email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3, 6, 9, 12, 15, 18]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<div class="esp1">

  <div class="esp2">
    <button type="button" routerLink="/login" mat-flat-button color="primary">
      <mat-icon class="idie">perm_identity</mat-icon> Login
    </button>
  </div>

  <div class="esp3">
    <button type="button" routerLink="/produtos" mat-flat-button color="primary">
      <mat-icon>people</mat-icon> produtos
    </button>
  </div>

  </div>
