.header{
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.tabela{
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

table {
  width: 100%;
}
.esp1
{
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
padding-left: 10px;
padding-right: 10px;
}
a{
  color: rgba(0, 0, 0, 0.582);
  font-size: 13px;
}

.esp4{
  display: flex;
  margin-top: -70px;
}
